*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #d1d1d1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    font-size: 42px;
    margin-bottom: 1rem;
}

form input{
    width: 248px;
    height: 40px;
    padding: .5rem;
    border-radius: 8px;
    border: none;
}

form input::placeholder{
    font-size: 18px;
}

form button{
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #2C7A00;
    border: none;
    border-radius: 8px;
    color: #fff;
}

ul li{
    cursor: pointer;
}

.to-do-list{
    margin-top: .5rem;
    font-size: 18px;
    font-weight: normal;
    font-family: sans-serif;
}

.checked{
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, .6);
}
