*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #ccc;
}


main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 768px;
    margin: 0 auto;
}

form{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    margin: 0 20%;
}

form div, form label,
form h2{
    margin-bottom: 8px;
}

form label, form input{
    display: block;
    width: 100%;
}

form label{
    font-weight: bold;
}

form input{
    height: 30px;
    padding: 8px;
}

form button{
    width: 160px;
    height: 38px;
    background-color: red;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

label.error{
    color: red;
    padding: 6px 0;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}
.container-radio{
    margin: 8px 0;
    display: flex;
    justify-content: space-evenly;
}
.container-radio input[type="radio"]{
    height: 16px;
}

.d-none{
    display: none;
}